.hero__button {
    width: 270px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    border: 2px solid $white;
    color: $white;
    cursor: pointer;

    &:hover {
        color: $pink;
        border: 2px solid $pink;
    }
    &:active {
        background: $coral;
        border: none;
        color: $white;
    }
}
.form-btn {
    width: 445px;
    height: 69px;
    background-color: $pink;
    border: none;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        background: $coral;
        border: none;
    }
    &:active {
        background: rgb(236,121,121);
        background: radial-gradient(circle, rgba(236,121,121,1) 94%, rgba(171,73,73,1) 100%);
        border: none;
    }
}
