.header {
    height: 75px;
    background-color: $black_dark;
    display: flex;
    justify-content: space-between;
    padding: 0px 115px 0px 20px;

    &__logo {
        padding: 20px 75px;
    }
    &__nav-list {
        display: flex;
        height: 100%;
        text-align: center;
        list-style: none;
    }
    &__nav-item {
        width: 110px;
        height: 45px;
        position: relative;
        line-height: 40px;
        &:hover {
            text-transform: uppercase;
            background: $pink;
            transition: all 0.7s;
        }
        &:active {
            text-transform: uppercase;
            background: $coral;
            transition: all 0.7s;
        }
    }
    &__nav-link {
        font-size: 14px;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        color: $white;
    }
    &__nav {
        height: 100%;
    }
    @media (max-width: 1024px) {
        & {
            padding: 0px 20px 0px 20px;
        }
    }
    @media (max-width: 850px) {
        &__nav-item {
            width: 95px;
        }
    }
    @media (max-width: 768px) {
        &__nav {
            display: none;
        }
    }
    @media (max-width: 425px) {
        & {
            height: 56px;
        }
        &__logo {
            padding: 13px 5px;
        }
    }
}
.burger {
    position: absolute;
    left: 90%;
    top: 3%;
    display: none;
}
.burger__label {
    cursor: pointer;
    display: none;
}
.burger__menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(10, 10, 10);
    backdrop-filter: blur(5px);
    z-index: 100;
    transform: translateX(-100vw);
    transition: all 0.5s;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
}
.burger-icon {
    width: 22px;
}
.burger__close {
    font-size: 24px;
    color: rgb(241, 238, 238);
    font-weight: 700;
    display: block;
    align-self: flex-end;
    cursor: pointer;
}

.burger__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    height: 50vh;
    color: white;
}

.burger__menu-link {
    color: $white;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}
.input-burger:checked ~ .burger__menu {
    transform: translateX(0);
}
.input-burger {
    display: none;
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }
    .header__nav {
        display: none;
    }

    .burger__label {
        display: block;
    }
}
@media (max-width: 490px) {
    .burger {
        left: 85%;
    }
}
@media (max-width: 320px) {
    .burger {
        top: 3%;
    }
}
