.header {
    height: 75px;
    background-color: $black_dark;
    display: flex;
    justify-content: space-between;

    &__logo {
        padding: 20px 75px;
    }
    &__nav-list {
        display: flex;
        height: 100%;
        text-align: center;
        padding-right: 7em;
    }
    &__nav-item {
        margin: 0 25px;
        position: relative;
        line-height: 40px;
    }
    &__nav-link {
        font-size: 14px;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        color: $white;

        &:hover {
            background: $pink;
        }
    }
    &__nav {
        height: 100%;
    }
}
