.hero {
    color: $white;
    padding: 91px 120px 168px 120px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../../assets/hero/bg.jpg) center/cover no-repeat;

    &__content {
        display: flex;
        align-items: flex-start;
    }
    &__line--top {
        margin-bottom: 69px;
        border: none;
        border-top: 1px solid $black_dark;
    }
    &__line--bottom {
        border: none;
        border-top: 1px solid $white;
        width: 172px;
    }

    &__title {
        font-family: "Raleway";
        font-size: 48px;
        font-weight: 500;
        line-height: 56px;
        padding-bottom: 40px;
    }
    &__text {
        font-family: "Raleway";
        font-size: 18px;
        font-weight: 400;
        width: 250px;
        padding: 40px 0;
    }
    &__info {
        flex-basis: 70%;
        display: flex;
        flex-direction: column;
    }
}
