.social {
  height: 140px;
  background: #f8efef;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;

  &__content {
    display: flex;
    flex-basis: 60%;
    align-items: center;
    gap: 30px;
    color: $silver_dark;
  }

  &__description {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin-right: 40px;
  }
  &__title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: $silver_dark;
    padding-bottom: 21px;
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: $silver;
  }
  
  @media (max-width: 1024px) {
    & {
      height: 105px;
      padding: 15px;
    }
    &__title {
      font-size: 18px;
      line-height: 20px;
    }
    &__text {
      font-size: 14px;
      line-height: 16px;
    }
    &__content {
      gap: 20px;
    }
    &__description {
      padding-left: 5px;
    }
  }
  @media (max-width: 990px) {
    & {
      height: 200px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
    &__description {
      text-align: center;
    }
    &__svg {
      display: flex;
      padding-top: 10px;
      gap: 43px;
    }
    &__icons {
      zoom: 0.7;
    }
  }
  @media (max-width: 320px) {
    & {
      height: 240px;
    }
    &__text {
      margin-bottom: 15px;
    }
    &__icons {
      zoom: 0.5;
    }
    &__svg {
      gap: 5px;
    }
  }
}
