.social {
    height: 140px;
    background: #f8efef;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

&__content{ 
    display: flex;
    flex-basis: 60%;
    align-items: center;
    gap: 30px;
    margin-left: 39px;
}
  
  &__description{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding-left: 50px;

  }
  &__title{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: $silver_dark;
    padding-bottom: 21px;
  }
  &__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: $silver;
  }
  .icons{
    width: 55px;
    height: 55px;
}
}