.hero__button {
    width: 270px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    border: 2px solid $white;
    color: $white;
    cursor: pointer;

    &:hover {
        color: $pink;
        border: 2px solid $pink;
    }
    &:active {
        background: $coral;
        border: none;
        color: $white;
    }
    @media (max-width: 1024px) {
        & {
            width: 180px;
            height: 50px;
        }
        @media (max-width: 768px) {
            & {
                width: 288px;
                height: 55px;
                margin: 0 auto;
            }
        }
    }
}
.form-btn {
    width: 445px;
    height: 70px;
    background-color: $pink;
    border: none;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        background: $coral;
        border: none;
    }
    &:active {
        border: none;
        background: rgb(236, 121, 121);
        box-shadow: inset 0 0 6px;
    }
    @media (max-width: 1024px) {
        width: 395px;
        height: 60px;
    }

    @media (max-width: 768px) {
        width: 290px;
        height: 60px;
    }
}
.contact__button {
    width: 370px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    background: $pink;
    border: 2px solid $white;
    color: $white;
    cursor: pointer;
    @media (max-width: 990px) {
        width: 450px;
        margin: 0 auto;
    }
    @media (max-width: 320px) {
        width: 288px;
        height: 50px;
    }
}
.tabs__btn {
    width: 270px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    background: $pink;
    border: 2px solid $white;
    color: $white;
    cursor: pointer;
    position: absolute;
    top: 140%;

    &:hover {
        background: $coral;
    }
    @media (max-width: 1024px) {
        .tabs__btn {
            width: 230px;
            height: 58px;
            font-size: 18px;
        }
        @media (max-width: 610px) {
            top: 121%;
        }

        @media (max-width: 500px) {
            width: 240px;
            height: 50px;
            align-items: center;
            right: -10px;
            top: 130%;
        }
    }
}
