.form{
    width: 445px;
    height: 473px;
    background: $white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 10px;
    flex-shrink: 0;
    font-family: 'Open Sans', sans-serif;

    &__inner-wrapper{
        padding: 48px 48px 50px;
        display: flex;
        flex-direction: column;
    }
    &__title{
        color: $black_dark;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 2em;

        >span {
            color: $coral;
        }
    }
    &__label{
        color: $silver;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
    }
    &__input{
        outline: none;
        border: none;
        border-bottom: 1px solid $silver;
        padding: 12px;
        margin-bottom: 1.5em;
    }
}
