$pink:rgba(236, 121, 121, 1);
$coral:rgba(171, 73, 73, 1);
$silver:rgba(134, 135, 139, 1);
$silver_dark:rgba(51, 51, 51, 1);
$black_light:rgba(33, 33, 33, 1);
$black_dark:rgba(0, 0, 0, 1);
$white:rgba(255, 255, 255, 1);
